html,
body {
  margin: 0px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

sp-popover {
  --spectrum-popover-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-overlay-animation-distance: 0px;
  border-color: var(--spectrum-global-color-gray-100);
  border-radius: 0px;
  filter: none;
}

kbd {
  font-size: 13px;
  padding-left: 15px;
  color: var(--spectrum-global-color-gray-600);
  pointer-events: none;
}

.menu-item {
  --spectrum-listitem-selectable-padding-right: var(
    --spectrum-global-dimension-size-150
  );
}

.checkable-menu-item {
  --spectrum-listitem-selectable-padding-right: calc(
    var(--spectrum-global-dimension-size-100) +
      var(--spectrum-icon-checkmark-medium-width) +
      var(--spectrum-listitem-icon-gap) +
      var(
        --spectrum-popover-border-size,
        var(--spectrum-alias-border-size-thin)
      )
  );
}
