html,
body {
  margin: 0px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

sp-popover {
  --spectrum-popover-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-overlay-animation-distance: 0px;
  border-color: var(--spectrum-global-color-gray-100);
  border-radius: 0px;
  filter: none;
}

eomap-modal {
  --spectrum-dialog-confirm-overlay-background-color: rgba(0, 0, 0, 0.75);
  --spectrum-button-secondary-m-background-color: var(
    --spectrum-global-color-gray-300
  );
  --spectrum-button-secondary-m-border-color: var(
    --spectrum-global-color-gray-300
  );
  --spectrum-button-secondary-m-background-color-hover: var(
    --spectrum-global-color-gray-400
  );
  --spectrum-button-secondary-m-border-color-hover: var(
    --spectrum-global-color-gray-400
  );
  --spectrum-button-secondary-m-background-color-down: var(
    --spectrum-global-color-gray-200
  );
  --spectrum-button-secondary-m-border-color-down: var(
    --spectrum-global-color-gray-200
  );
  --spectrum-button-secondary-m-background-color-key-focus: var(
    --spectrum-global-color-gray-300
  );
  --spectrum-button-secondary-m-border-color-key-focus: var(
    --spectrum-global-color-gray-300
  );
  --spectrum-button-secondary-m-text-color-down: var(
    --spectrum-global-color-gray-700
  );
  --spectrum-button-secondary-m-text-color-hover: var(
    --spectrum-global-color-gray-700
  );
  --spectrum-button-secondary-m-text-color-key-focus: var(
    --spectrum-global-color-gray-700
  );
}

kbd {
  font-size: 13px;
  padding-left: 15px;
  color: var(--spectrum-global-color-gray-600);
  pointer-events: none;
}

sp-menu-divider {
  --spectrum-listitem-m-divider-color: var(--spectrum-global-color-gray-300);
  --spectrum-listitem-divider-size: var(--spectrum-global-dimension-size-10);
}

.menu-item {
  --spectrum-listitem-selectable-padding-right: var(
    --spectrum-global-dimension-size-150
  );
}

.checkable-menu-item {
  --spectrum-listitem-selectable-padding-right: calc(
    var(--spectrum-global-dimension-size-100) +
      var(--spectrum-icon-checkmark-medium-width) +
      var(--spectrum-listitem-icon-gap) +
      var(
        --spectrum-popover-border-size,
        var(--spectrum-alias-border-size-thin)
      )
  );
}

.spectrum-Table {
  --spectrum-table-m-regular-row-background-color-down: var(
    --spectrum-global-color-gray-200
  );
  --spectrum-table-m-regular-row-background-color-selected: var(
    --spectrum-global-color-gray-200
  );
}

.spectrum-Table-row.focus-visible {
  background-color: var(
    --spectrum-table-m-regular-row-background-color-hover,
    var(--spectrum-alias-highlight-hover)
  );
}

.spectrum-Table-row.focus-visible:active {
  background-color: var(
    --spectrum-table-m-regular-row-background-color-down,
    var(--spectrum-alias-highlight-down)
  );
}

.spectrum-Table-row.focus-visible::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 1px;
  bottom: 0px;
  left: 1px;
  right: 1px;
  box-shadow: inset 0 0 0 2px var(--spectrum-alias-focus-ring-color);
  border-radius: var(--spectrum-table-regular-cell-border-radius-key-focus);
}

.spectrum-Table
  tbody.spectrum-Table-body:last-of-type
  .spectrum-Table-row:last-of-type::after {
  bottom: 1px;
}

.spectrum-Table
  tbody.spectrum-Table-body:last-of-type
  .spectrum-Table-row:last-of-type
  .spectrum-Table-cell {
  border-bottom: 1px solid
    var(
      --spectrum-table-m-regular-border-color,
      var(--spectrum-alias-border-color-mid)
    );
}

.spectrum-Table
  tbody.spectrum-Table-body:not(:first-of-type)
  .spectrum-Table-row:first-of-type
  .spectrum-Table-cell:first-child {
  border-top-left-radius: unset !important;
}

.spectrum-Table
  tbody.spectrum-Table-body:not(:first-of-type)
  .spectrum-Table-row:first-of-type
  .spectrum-Table-cell:last-child {
  border-top-right-radius: unset !important;
}

.spectrum-Table
  tbody.spectrum-Table-body:not(:last-of-type)
  .spectrum-Table-row:last-of-type
  .spectrum-Table-cell:first-child {
  border-bottom-left-radius: unset !important;
}

.spectrum-Table
  tbody.spectrum-Table-body:not(:last-of-type)
  .spectrum-Table-row:last-of-type
  .spectrum-Table-cell:last-child {
  border-bottom-right-radius: unset !important;
}

.spectrum-Table
  tbody.spectrum-Table-body:last-of-type
  .spectrum-Table-row:last-of-type
  .spectrum-Table-cell:first-child {
  border-bottom-left-radius: var(--spectrum-table-regular-border-radius);
}

.spectrum-Table
  tbody.spectrum-Table-body:last-of-type
  .spectrum-Table-row:last-of-type
  .spectrum-Table-cell:last-child {
  border-bottom-right-radius: var(--spectrum-table-regular-border-radius);
}
