sp-popover {
  --spectrum-popover-background-color: var(--spectrum-global-color-gray-200);
  --spectrum-overlay-animation-distance: 0px;
  border-color: var(--spectrum-global-color-gray-100);
  border-radius: 0px;
  filter: none;
}

kbd {
  font-size: 13px;
  padding-left: 15px;
  color: var(--spectrum-global-color-gray-600);
  pointer-events: none;
}
